{% extends 'base.html' %}

{% block bodyblock %}
<div class ='container'>
    <br>
    <h3 class='content'> 
        <span style ='color:#198b90'> Emotion Detection </span> Application
    </h3>
    </br>

    <p class='content'>
        This application aims to classify the emotion on a person's face into one of seven categories, using deep convolutional neural networks. The model is trained on the FER-2013 dataset which was published on International Conference on Machine Learning (ICML). This dataset consists of 35887 grayscale, 48x48 sized face images with seven emotions - angry, disgusted, fearful, happy, neutral, sad and surprised
    </p>
    <br>
    <img src = "{{ url_for('static',filename='images/images.jpg') }}" alt = 'FREEAI' height="200" width="'600">
    <br>
    <div align = 'center'>
        <a href ="{{ url_for('emotion') }}" class="btn btn-outline-primary">Try it now</a>

    </div>
    
</div> 

{% endblock %}